---
import LogoExtended from './LogoExtended.astro';
---

<footer class="py-12">
  <div
    class="px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row justify-between items-center gap-6"
  >
    <div class="flex items-center gap-2">
      <LogoExtended class="w-auto h-5" />
    </div>
    <div class="flex gap-8 text-sm text-gray-800">
      <a href="/docs" class="hover:text-white transition">Documentation</a>
      <a href="https://pypi.org/project/cross-auth/" class="hover:text-white transition">PyPI</a>
    </div>
  </div>
</footer>
